.element-table {
  border: 1px solid $black01;
  margin: auto;
}

.element-table__caption {
  @include font-size-responsive($gamma, $primary-family, 700);
}

.element-table__tr {
  &:nth-child(2n) {
    background: $black005;
  }
}

.element-table__th {
  @include font-size-responsive($delta, $primary-family, 700);
  padding: 10px;
}

.element-table__td {
  @include font-size-responsive($delta);
  padding: 5px;  
}

/* all credits to Lea Verou for this hack */
div.no-use {
  @for $i from 1 through 5 {
    &:first-child:nth-last-child(#{$i}),
    &:first-child:nth-last-child(#{$i}) ~ & {
      $temp: 100 / $i;
      width: 1% * $temp;
    }
  }

  &:last-child {
    text-align: right;
  }
}
