.element-table {
  border: 1px solid $black01;
  margin: auto;
  margin-bottom: $gutter--medium;
}

.element-table__caption {
  @include font-size-responsive($gamma, $primary-family, 700);
}

.element-table__tr:nth-child(2n) {
  background: $black005;
}

.element-table__th {
  @include font-size-responsive($delta, $primary-family, 700);
  padding: 10px;
}

.element-table__td {
  @include font-size-responsive($delta);
  padding: 5px;
}
