/*
 * This sheet styles all examplecode
 */
.exampletable {
  border: 1px solid $black01;
  margin: auto;

  caption {
    @include font-size-responsive($gamma, $primary-family, 700);
  }

  tr {
    &:nth-child(2n) {
      background: $black005;
    }
  }

  th {
    @include font-size-responsive($delta, $primary-family, 700);
    padding: 10px;
    text-align: center;
    border: 1px solid $black01;
  }

  td {
    @include font-size-responsive($delta);
    padding: 5px;
    border: 1px solid $black01;
  }
}

#exampleNav2 {
  .hidden {
    display: none;
  }

  .exampleButton::after {
    content: 'v'
  }

  .exampleButton.open::after {
    content: '^';
  }
}
