.home {
  height: 100%;
  width: 100%;
}

.home__preloader {
  background-color: $white;
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 0.5s ease-out, visibility 0.5s 0.5s;
  z-index: 99;
}

.home__preloader--loaded {
  opacity: 0;
  visibility: hidden;
}

.home__content {
  @include gradient;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  width: 100%;
}

.home__container,
.home__title,
.home__subtitle {
  position: relative;
  z-index: 2;
}

.home__title {
  @include heading($mega, $primary-family, 700);
  color: $primary;
  margin-top: $gutter;
  text-align: center;
  text-shadow: 5px 10px 10px $black03;
  text-transform: uppercase;
}

.home__subtitle {
  @include heading($mega, $cursive-family, $cursive-weight);
  color: $white;
  display: block;
  margin-top: -50px;
  text-align: center;

  @include media('>medium') {
    margin-top: -90px;
  }
}
