$border: 1px solid $black01;

.home-nav {
  @include vertical-rhythm;
  max-width: 760px;
  margin: 0 auto $gutter--xlarge;
}

.home-nav__options {
  background: $white;
  box-shadow: 0 10px 40px 0 $black03;
  max-width: 320px;
  margin: auto;

  @include media('>small') {
    max-width: 400px;
    padding: $gutter--xlarge;
  }

  @include media('>medium') {
    max-width: 641px;
    padding: $gutter--xlarge;
  }
}

.home-nav__option {
  height: 320px;
  margin: $gutter--xlarge auto;
  width: 320px;

  @include media('>medium') {
    display: inline-block;
    margin: 0;
  }
}

.home-nav__link {
  @include link-styles-menu;
  height: 100%;
  width: 100%;
}

.home-nav__link-holder {
  display: inline-block;
}

.home-nav__link-container {
  position: relative;
  z-index: 3;
}

.home-nav__link-title {
  @include heading($mega, $secondary-family, $secondary-weight);
  text-align: center;
}

.home-nav__link-description {
  @include font-size-responsive;
  text-align: center;
}
