.home-leaving__target {
  height: 5px;
  position: absolute;
  right: 80px;
  width: 5px;
}

/*
 * Position Targets for the letters to fly into
 *  100px distance to each with a start of 35px
 *  The second and third element have to be somewhat more
 *  to the left to visually inline them vertically (because they have a linebreak)
 */
.home-leaving__target:nth-child(1) {
  top: 20px;

  @include media('>medium') {
    top: 20px;
  }
}

.home-leaving__target:nth-child(2) {
  top: 100px;
  right: 100px;

  @include media('>medium') {
    top: 135px;
    right: 95px;
  }
}

.home-leaving__target:nth-child(3) {
  top: 180px;
  right: 100px;

  @include media('>medium') {
    top: 250px;
    right: 95px;
  }
}

.home-leaving__target:nth-child(4) {
  top: 260px;

  @include media('>medium') {
    top: 370px;
  }
}


.leaving .home {
  // scss-lint:disable ImportantRule
  background: transparent !important;
  animation: none;
  transition: background 1s;
}

.leaving .home-nav__link-title {
  @include heading($beta, $secondary-family, $secondary-weight);
  transition: font-size 0.5s;
}

/*
 * 1. have a nice break
 */
.leaving .home-nav__link-description {
  @include font-size-responsive($delta);
  padding: 0 6px; /* 1. */
  transition: font-size 1s, padding 1s;
}

.leaving .home-nav__link-container {
  min-width: 60px;
  position: fixed;
  transition: top 1s 0.5s, left 1s 0.5s, position 0.5s;
  z-index: 3;
}

.leaving .home__content {
  overflow: hidden;
  position: fixed;
  width: 120px;
  height: 110px;
  right: 0;
  top: 0;
  padding: 0;
  transition: width 1s 1.5s, height 1s 1.5s, right 1s 1.5s, padding 1s 1.5s;

  &.top {
    transition: top 1s;
  }
}

.leaving .home-nav__options {
  background: transparent;
  box-shadow: none;
  transition: background 1s, box-shadow 1s;
}

.leaving .home__title,
.leaving .home__subtitle,
.leaving .home-objects {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 0.5s 0.5s;
}

.leaving .home-nav__link:hover,
.leaving .home-nav__link:focus {
  background: transparent;
  transition: background 1s;
}

.home-leaving__contentfaker {
  position: fixed;
  background: $white;
  box-shadow: 10px 0 40px $black03;
  width: 100%;
  height: 100%;
  top: 0;
  left: -150%;
}

.leaving .home-leaving__contentfaker {
  left: -100px;
  transition: left 1s 3s;
}
