.home-subnav__options {
  margin: 0 auto $gutter--xlarge;
  max-width: 320px;
  text-align: center;
}

.home-subnav__option {
  display: inline-block;
  margin: 0 20px;
}

.home-subnav__link {
  @include font-size-responsive;
  @include link-styles-background;
}
