.site__content {
  background: $white;
  box-shadow: 10px 0 40px $black03;
  width: 90%;
  width: calc(100% - 100px);
  overflow: hidden;
  position: relative;
  transition: width 0.5s;
  z-index: 2;

  @include media('>medium') {
    width: 99.9%;
  }
}

.site__content--open {
  width: 99.9%;

  @include media('>medium') {
    width: calc(100% - 100px);
  }
}

.site__toggler {
  height: 30px;
  opacity: 0.3;
  position: fixed;
  right: 15px;
  top: 5px;
  transform: rotate(0deg);
  transition: transform 0.5s, opacity 0.5s, right 0.5s;
  width: 30px;
  z-index: 3;

  @include media('>medium') {
    right: 105px;
    transform: rotate(-90deg);
  }

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.site__toggler--open {
  right: 105px;
  transform: rotate(-90deg);

  @include media('>medium') {
    right: 15px;
    transform: rotate(0deg);
  }
}

.site__toggler-bar,
.site__toggler-bar::before,
.site__toggler-bar::after {
  background: $black;
  height: 5px;
  position: absolute;
  width: 30px;
}

.site__toggler-bar {
  display: block;
}

.site__toggler-bar::before {
  margin: -10px -15px;
  content: '';
}

.site__toggler-bar::after {
  margin: 10px -15px;
  content: '';
}
