.section-title__letter {
  @include heading($ultra, $secondary-family, $secondary-weight);
  color: $white;
  display: block;
  text-align: center;
  text-shadow: 5px 10px 20px $black03;
  text-transform: uppercase;
}

.section-title__title-container {
  text-align: center;
  margin-top: -195px;

  @include media('>medium') {
    margin-top: -325px;
  }
}

.section-title__title {
  @include heading($mega, $cursive-family, $cursive-weight);
  background-image: linear-gradient(to top, transparent 0%, transparent 30%, $secondary70 30%, $primary70 80%, transparent 80%, transparent 100%);
  display: inline;
  padding: 0 20px;
}

/*
 * 1. Visually inline with top element
 */
.section-title__subtitle-container {
  margin: -11px 0 145px 35%; /* 1. */

  @include media('>small') {
    margin: -11px 0 145px 40%; /* 1. */
  }

  @include media('>medium') {
    margin: -30px 0 200px 225px;
  }
}

.section-title__subtitle {
  @include heading($gamma, $primary-family, $primary-weight);
  background-color: $secondary70;
  display: inline;
  text-transform: lowercase;
  padding: 10px;
}
