.nav {
  width: 100px;
  vertical-align: top;
  background: $white;
  position: relative;
  z-index: 0;
}

.nav__link {
  @include link-styles-menu;
  height: 100%;
  width: 100%;
  padding: 20px 0;
}

.nav__link--selected {
  @include gradient;
}

.nav__link-holder {
  display: inline-block;
}

.nav__link-container {
  position: relative;
  z-index: 3;
}

.nav__link-title {
  @include heading($beta, $secondary-family, $secondary-weight);
  text-align: center;
}

.nav__link-description {
  @include font-size-responsive($delta);
  text-align: center;
}
