.section {
  @include vertical-rhythm;
  margin: auto;
  max-width: 450px;
  padding: 0 $outbreaks;
}

.section a {
  @include link-styles;
}

.section__separation {
  background-color: $primary;
  height: 5px;
  width: 50px;
  margin: $gutter--medium 0;
}

.section__intro {
  @include font-size-responsive;
}

.section__img {
  // scss-lint:disable DuplicateProperty
  margin-top: $gutter;
  margin-bottom: $gutter--large;
  margin-left: -$outbreaks;
  width: 100%;
  width: calc(100% + #{$outbreaks});
}

.section__img-caption {
  @include font-size-responsive($delta);
}

.section__title {
  @include heading($alpha, $primary-family, 700);
  @include vertical-rhythm($gutter--large);
}

.section__title::after {
  @include gradient;
  content: '';
  width: 300px;
  height: 50px;
  display: block;
  margin-top: -35px;
  margin-left: -$outbreaks;
}

.section__title--sub {
  @include heading($beta, $primary-family, 700);
  @include vertical-rhythm($gutter--medium);
}

.section__title--sub::after {
  display: none;
}

.section__li {
  @include font-size-responsive;
  list-style: disc;
  padding-left: 10px;
  margin-left: -10px;
  margin-bottom: $gutter--medium;
}

code {
  @include font-size-responsive($gamma, $code-family, $code-weight);
  border: 1px solid $black01;
}

.section__pre {
  @include font-size-responsive($gamma, $code-family, $code-weight);
  background-color: $black;
  color: $grey;
  margin-top: -$gutter;
  margin-bottom: $gutter--medium;
  margin-right: -$outbreaks;
}
