.section {
  @include vertical-rhythm;
  margin: auto;
  max-width: 450px;
  padding: 0 $outbreaks;

  a {
    @include link-styles;
  }
}

.section--sub {
  padding: 0 5px;
}

.section__separation {
  background-color: $primary;
  height: 5px;
  margin: $gutter--medium 0;
  width: 50px;
}

.section__title {
  @include heading($alpha, $primary-family, 700);
  @include vertical-rhythm($gutter--large);
}

.section__title::after {
  @include gradient;
  content: '';
  display: block;
  height: 50px;
  margin-left: -$outbreaks;
  margin-top: -35px;
  width: 300px;
}

.section__title--sub {
  @include heading($beta, $primary-family, 700);
  @include vertical-rhythm($gutter--medium);
}

.section__title--sub::after {
  display: none;
}
