.nav__object {
  position: absolute;
  border: 2px solid $primary;
  transition: transform 0.1s;
  z-index: -2;
}

.nav__circle { border-radius: 50%; }
.nav__diamond { transform: rotate(45deg); }

@for $i from 1 through 30 {
  .nav__circle:nth-child(#{$i}),
  .nav__square:nth-child(#{$i}),
  .nav__diamond:nth-child(#{$i}),
  .nav__skew:nth-child(#{$i}) {
    padding: random(30) + px;
  }
}

@for $i from 1 through 30 {
  .nav__object:nth-child(#{$i}) {
    $temp: 1% * random(90);
    $temp2: -1% * random(50);
    top: $temp;
    left: $temp2 + $temp;
    animation-duration: 5000ms - ($i * random(300));
    animation-fill-mode: backwards;
    animation-delay: 1s;
    animation-name: navFillUp--#{$i};
  }

  @keyframes navFillUp--#{$i} {
    from {
      left: -150%;
    }
  }
}
