.section {
  margin: auto;
  max-width: 450px;
  padding: 0 $outbreaks;
}

.section__separation {
  background-color: $primary;
  height: 5px;
  width: 50px;
  margin: $gutter--medium 0;
}

.section__intro {
  @include font-size-responsive;
}

.section__img {
  // scss-lint:disable DuplicateProperty
  margin-top: $gutter;
  margin-bottom: $gutter;
  margin-left: -$outbreaks;
  width: 100%;
  width: calc(100% + #{$outbreaks});
}
