.welcome {
  width: 100%;
  height: 100%;
  background: $black;
  overflow-y: auto;
  overflow-x: hidden;
}

.welcome__title {
  @include heading($delta, $main-family, $main-weight);
  color: $white;
  margin: 10px;
  position: fixed;
  top: 0;
  left: 0;
}

.welcome__text {
  @include heading($alpha);
  color: $white;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}

.welcome__text--special {
  @include heading;
  line-height: 0.5;
}

.welcome__wrapper {
  width: 100%;
  text-align: center;
  transition: opacity 1s 1s ease-out;
}

.welcome__button {
  @include font-size-responsive($gamma);
  color: $white;
}

.welcome__button--skip {
  @include font-size-responsive($delta);
  position: fixed;
  bottom: 0;
  right: 0;
}

.welcome__img-container {
  width: 250px;
  text-align: center;
}

.welcome__img {
  width: 150px;
  margin: 50px;
  margin-bottom: 0;
}

