$soft-black: rgba(0, 0, 0, 0.25);
$sublte-black: rgba(0, 0, 0, 0.15);

.welcome {
  height: 100%;
  width: 100%;
}

.welcome__title {
  @include heading;
  @include vertical-rhythm;
  color: $grey;
  display: block;
  text-align: center;
  text-transform: lowercase;
}

.welcome__cards {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.welcome__card {
  border-radius: 5px;
  box-shadow: 0 10px 15px $soft-black;
  height: 320px;
  margin: 40px;
  text-align: center;
  width: 320px;
  transition: box-shadow 0.5s ease-out, transform 0.5s ease-out;

  &:hover,
  &:focus,
  &:active {
    transform: scale(1.05, 1.05);
    box-shadow: 0 15px 20px $sublte-black;
  }
}

.welcome__card--visual {
  background-color: $visual-main;
  color: $visual-dark;
}

.welcome__card--audio {
  background-color: $audio-main;
  color: $audio-dark;
}

.welcome__card--cognitive {
  background-color: $cognitive-main;
  color: $cognitive-dark;
}

.welcome__svg {
  height: 100px;
  width: 200px;
  margin-top: 40px;
}

.welcome__cathegory {
  @include font-size-responsive;
  text-transform: lowercase;
  margin-top: 50px;
}
