<!-- macro nav nunjuck -->

{% macro nav(nav, key) %}

<nav class="nav" role="navigation" aria-label="mainmenu">
  <h2 id="mainmenu" class="sr-only">{{ nav.title }}</h2>
  <ul class="nav__container">
    {% for option in nav.options %}
    <li>
      <a href="{{ option.url }}" class="nav__link center-align {{ option.title }} {{ 'nav__link--selected' if option.title == key.letter }}">
        <div class="nav__link-container">
          <p class="nav__link-title copy">{{ option.title }}</p>
          <p class="nav__link-description copy">
            {{ option.description }} <span class="sr-only">{{ option.sr }}</span>
          </p>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
</nav>

<div class="nav__objects">
  {% for i in range(1, 10) %}
  <div class="nav__object nav__circle"></div>
  <div class="nav__object nav__square"></div>
  <div class="nav__object nav__diamond"></div>
  {% endfor %}
</div>

{% endmacro %}
