<!-- key section nunjuck -->

{% macro section(page, shared) %}

{% include "partials/shared/_section_intro.html" %}

{% for section in page.sections %}
<section role="region" class="section anchor--aria-labelledby" data-aria-labelledby="{{ section.title }}">
  <a href="{{ shared.contribute }}" class="section__contribute"><span class="visuallyhidden">Contribute to this section</span>✎</a>
  <h2 class="section__title copy anchor--add edit--add">
    {{ section.title }}
  </h2>

  {% import "partials/shared/elements/_elements.html" as elements %}    
  {{ elements.elements(section, page, loop.index, shared) }}

  {% if section.subs %}
  {% for sub in section.subs %}
  
    {% include "partials/shared/_section_sub.html" %}

  {% endfor %}
  {% endif %}

</section>
{% endfor %}

{% endmacro %}