<!-- section intro nunjuck -->

<section id="site" class="section" aria-labelledby="sectionTitle">

  {% include "partials/shared/_section_intro_head.html" %}

  <div class="section__separation"></div>

  {% import "partials/shared/elements/_element_p.html" as p %}    
  {{ p.p(page.intro.p) }}

  {% if page.intro.imgs %}
    {% import "partials/shared/elements/_element_imgs.html" as imgs %}    
    {{ imgs.imgs(page.intro.imgs) }}
  {% endif %}

  {% if page.intro.table %}
    {% import "partials/shared/elements/_element_table.html" as table %}
    {{ table.table(page.intro.table) }}
  {% endif %}

  {% if page.intro.ul %}
  <ul>
  {% for li in page.intro.ul %}
    <li class="element-li copy">{{ li | safe }}</li>
  {% endfor %}
  </ul>
  {% endif %}

  {% if page.intro.paragraphs %}
  {% for paragraph in page.intro.paragraphs %}
    {% import "partials/shared/elements/_element_p.html" as p %}    
    {{ p.p(paragraph) }}
  {% endfor %}
  {% endif %}

</section>
