<!-- section intro nunjuck -->

<section class="section" aria-labelledby="sectionTitle">

  {% include "partials/shared/_section_intro_head.html" %}

  <div class="section__separation"></div>

  <p class="section__intro copy">
    {{ key.intro.p | safe }}
  </p>
  {% if key.intro.img %}
  <figure role="group" class="section__img">
    <img src="{{ key.intro.img.src }}" alt="{{ key.intro.img.alt }}">
    <figcaption class="section__img-caption copy">
      {{ key.intro.img.caption | safe }}
    </figcaption>
  </figure>
  {% endif %}
  {% if key.intro.ul %}
  <ul>
  {% for li in key.intro.ul %}
    <li class="section__li copy">{{ li | safe }}</li>
  {% endfor %}
  </ul>
  {% endif %}

</section>
