<!-- macro seo nunjuck -->
{% macro seo(shared, key) %}

<title>{{ key.SEO.title }} {{ shared.name }}</title>
<!-- General -->
<link rel="icon" href="assets/img/favicons/{{ key.letter if key.letter else 'A' }}.ico">
<link rel="canonical" href="{{ shared.url }}{{ key.SEO.url }}" />
<meta name="description" content="{{ key.SEO.desc }}">
<meta name="keywords" content="{{ key.SEO.kw }}{{ shared.kw }}">
<!-- Facebook -->
<meta property="og:image" content="{{ shared.url }}{{ key.SEO.img }}">
<meta property="og:description" content="{{ key.SEO.desc }}">
<meta property="og:title" content="{{ key.SEO.title }} {{ shared.name }}">
<meta property="og:site_name" content="{{ shared.name }}">
<meta property="og:see_also" content="{{ shared.url }}">
<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ key.SEO.title }} {{ shared.name }}">
<meta name="twitter:description" content="{{ key.SEO.desc }}">
<meta name="twitter:image" content="{{ shared.url }}{{ key.SEO.img }}">
<!-- Google -->
<meta itemprop="name" content="{{ key.SEO.title }} {{ shared.name }}">
<meta itemprop="description" content="{{ key.SEO.desc }}">
<meta itemprop="image" content="{{ shared.url }}{{ key.SEO.img }}">

{% endmacro %}