<!-- MACRO toc nunjuck -->

{% macro toc(toc, key) %}
<nav class="toc" role="navigation" aria-labelledby="toc">
  <h2 id="toc">
    {{ toc.title }}<br/>
    {{ key.title }} {{ key.subtitle }}
  </h2>

  <ul>
    {% for section in key.sections %}
    {% set outer_loop = loop %}
    <li>
      <a href="#{{ section.title | replace(r/[^A-Za-z0-9]/g, '-') }}">{{ loop.index }}. {{ section.title}} </a>
      {% if section.subs %}
      {% for sub in section.subs %}
      <li>
        <a href="#{{ sub.title | replace(r/[^A-Za-z0-9]/g, '-') }}">{{ outer_loop.index }}.{{ loop.index }}. {{ sub.title }}</a>
      </li>
      {% endfor %}
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</nav>
{% endmacro %}
