<!-- home nunjuck -->

<section id="home" class="home">
  <div class="home__preloader"></div>

  <div class="start" aria-hidden="true" role="presentation">
    {% include "partials/home/_home_animation.html" %}
  </div>

  <div class="end visuallyhidden home__content">

    <div class="home__container">
      <h1 id="accessibility" class="home__title">{{ shared.home.title }}</h1>
      <span class="home__subtitle">{{ shared.home.subtitle }}</span>

      {% include "partials/home/_home_nav.html" %}

      {% include "partials/home/_home_objects.html" %}
    </div>

  </div>

  {% include "partials/home/_home_leaving.html" %}

</section>
