<!-- nunjucks home sub navigation -->

<nav class="home-subnav" role="navigation" aria-labelledby="submenu">
  <h2 id="submenu" class="visuallyhidden">{{ shared.subnav.title }}</h2>
  <ul class="home-subnav__options">
    {% for option in shared.subnav.options %}
    {% if option.title != 'H' %}
      <li class="home-subnav__option">
        <span class="home-nav__link-holder leaving-animation__holder">
          <span class="home-nav__link-container leaving-animation__container">
            <a href="{{ option.url }}" class="home-subnav__link {{ option.title }} {{ 'leaving-animation' if option.title == 'S' else 'leaving-animation-2' }}">
              {{ option.description | safe }}
            </a>
          </span>
        </span>
      </li>
    {% endif %}
    {% endfor %}
  </ul>
</nav>
