<!-- nunjucks home nav -->

<nav class="home-nav">
  <ul class="home-nav__options">
    <li class="home-nav__option">
      <a href="#" class="home-nav__link">
        <p class="home-nav__link-title">V</p>
        <p class="home-nav__link-description">Visual</p>
      </a>
    </li>
    <li class="home-nav__option">
      <a href="#" class="home-nav__link">
        <p class="home-nav__link-title">A</p>
        <p class="home-nav__link-description">Audio</p>
      </a>
    </li>
    <li class="home-nav__option">
      <a href="#" class="home-nav__link">
        <p class="home-nav__link-title">P</p>
        <p class="home-nav__link-description">Physical</p>
      </a>
    </li>
    <li class="home-nav__option">
      <a href="#" class="home-nav__link">
        <p class="home-nav__link-title">C</p>
        <p class="home-nav__link-description">Cognitive</p>
      </a>
    </li>
  </ul>
</nav>
