<!-- nunjucks home animation partial -->

<div class="letters">
  {% for letter in shared.home.letters %}
  <span class="fall--{{ loop.index }}">
    <span class="bfall--{{ loop.index }}">
      <span class="plonge--{{ loop.index }}">
        <span class="tremble">{{ letter }}</span>
      </span>
    </span>
  </span>
  {% endfor %}
</div>

<div class="objects">
  {% for i in range(1, 5) %}
  <div class="object circle"></div>
  <div class="object square"></div>
  <div class="object diamond"></div>
  {% endfor %}
</div>

<div class="full-water">
  <div class="water">
    {% for i in range(1, 10) %}
    <div class="splash splash--{{ loop.index }}"></div>
    {% endfor %}
    <svg class="wobble" viewBox="0 0 841.9 73.5">
      <path id="trampoline" class="trampoline" d="M851,79.5H-8V13.4c0,0,243,0,430,0s429,0,429,0V79.5z" />
      <animate xlink:href="#trampoline"
              attributeName="d"
              begin="6.8s"
              dur="1s"
              fill="freeze"
              keyTimes="0; 0.2; 0.5; 1"
              values="M851,79.5H-8V13.4c0,0,243,0,430,0s429,0,429,0V79.5z;
                      M851,79.5H-8V13.4c0,0,243,10,430,10s429-10,429-10V79.5z;
                      M851,79.5H-8V13.4c0,0,243-4,430-4s429,4,429,4V79.5z;
                      M851,79.5H-8V13.4c0,0,243,0,430,0s429,0,429,0V79.5z;" />
    </svg>
  </div>
</div>
