<!-- nunjucks home nav -->

<nav class="home-nav" role="navigation" aria-labelledby="mainmenu">
  <h2 id="mainmenu" class="visuallyhidden">{{ shared.nav.title }}</h2>
  <ul class="home-nav__options">

    {% for option in shared.nav.options %}
    {% if option.title %}
      {% if loop.index % 2 != 0 %}
      <li class="home-nav__options-container">
      {% endif %}
        <span class="home-nav__option">
          <a href="{{ option.url }}" class="home-nav__link center-align {{ option.title }} leaving-animation">
            <span class="home-nav__link-holder leaving-animation__holder">
              <span class="home-nav__link-container leaving-animation__container">
                <span class="home-nav__link-title">{{ option.title }}</span>
                <span class="home-nav__link-description">{{ option.description | safe }}<span class="visuallyhidden">{{ option.sr }}</span></span>
              </span>
            </span>
          </a>
        </span>
      {% if loop.index % 2 == 0 %}
      </li>
      {% endif %}
    {% endif %}
    {% endfor %}
  </ul>
</nav>
