<!-- welcome nunjuck -->

<section id="welcome" class="section welcome center-align">
  <div>
    <h1 class="welcome__title copy">Learn Accessibility</h1>

    <div class="welcome__cards">

      <a href="#" class="welcome__card welcome__card--visual center-align">
        <div>
          <svg class="welcome__svg" aria-labelledby="title desc" role="img">
            <title id="title">TODO</title>
            <desc id="desc">TODO</desc>
            <use role="presentation" xlink:href="assets/svg/sprite.svg#visual-small"></use>
          </svg>
          <h2 class="welcome__cathegory copy">Visual</h2>
        </div>
      </a>

      <a href="#" class="welcome__card welcome__card--audio center-align">
        <div>
          <svg class="welcome__svg" aria-labelledby="title desc" role="img">
            <title id="title">TODO</title>
            <desc id="desc">TODO</desc>
            <use role="presentation" xlink:href="assets/svg/sprite.svg#audio-small"></use>
          </svg>
          <h2 class="welcome__cathegory copy">Color & Audio</h2>
        </div>
      </a>

      <a href="#" class="welcome__card welcome__card--cognitive center-align">
        <div>
          <svg class="welcome__svg" aria-labelledby="title desc" role="img">
            <title id="title">TODO</title>
            <desc id="desc">TODO</desc>
            <use role="presentation" xlink:href="assets/svg/sprite.svg#cognitive-small"></use>
          </svg>
          <h2 class="welcome__cathegory copy">Physical & Cognitive</h2>
        </div>
      </a>

    </div>
  </div>
</section>
