<!-- welcome nunjuck -->

<section id="welcome" class="section welcome">
  <h1 class="welcome__title">Learn Accessibility</h1>
  <div class="welcome__cards">
    <div class="welcome__card">
      <svg class="welcome__icon"></svg>
      <h2 class="welcome__cathegory">Visual</h2>
    </div>
    <div class="welcome__card">
      <svg class="welcome__icon"></svg>
      <h2 class="welcome__cathegory">Color & Audio</h2>
    </div>
    <div class="welcome__card">
      <svg class="welcome__icon"></svg>
      <h2 class="welcome__cathegory">Physical & Cognitive</h2>
    </div>
  </div>
</section>
