<!-- welcome nunjuck -->

<section id="welcome" class="section welcome center-align">
  <div>
    <h1 class="welcome__title copy">Learn Accessibility</h1>

    <div class="welcome__cards">

      <div class="welcome__card welcome__card--visual">
        <svg class="welcome__icon"></svg>
        <h2 class="welcome__cathegory copy">Visual</h2>
      </div>

      <div class="welcome__card welcome__card--audio">
        <svg class="welcome__icon"></svg>
        <h2 class="welcome__cathegory copy">Color & Audio</h2>
      </div>

      <div class="welcome__card welcome__card--cognitive">
        <svg class="welcome__icon"></svg>
        <h2 class="welcome__cathegory copy">Physical & Cognitive</h2>
      </div>

    </div>
  </div>
</section>
