@mixin font-size-responsive($sizes: $gamma, $family: $primary-family, $weight: $primary-weight) {
  font-size: nth($sizes, 1) * 1px;
  font-family: $family;
  font-weight: $weight;
  line-height: $line-height;

  @include media('>medium') {
    font-size: nth($sizes, 2) * 1px;
  }
}
