@mixin heading($size: $mega, $family: $secondary-family, $weight: $secondary-weight) {
  @include font-size-responsive($size);
  font-family: $family;
  font-weight: $weight;
  line-height: $line-height--small;
  -webkit-font-smoothing: antialiased;
}

@mixin teaser-heading {
  color: $primary;
  font-size: 20px;
  font-weight: bold;
  line-height: $line-height--small;
  margin-bottom: $gutter--small;
  -webkit-font-smoothing: antialiased;
}
