/**
 * Link styles on light background.
 */
@mixin link-styles {
  color: $blue;
  text-decoration: none;
  background-image: linear-gradient(to top, transparent 0%, transparent 2%, $blue 2%, $blue 6%, transparent 6%, transparent 100%);
  text-shadow: 1px 0 $white, -1px 0 $white, -2px 0 $white, 2px 0 $white;

  &:visited {
    color: $blue;
  }

  &:hover,
  &:focus {
    background-image: linear-gradient(to top, transparent 0%, transparent 0%, $primary 0%, $primary 100%, transparent 100%, transparent 100%);
    text-shadow: none;
  }
}

/**
 * Alt
 */
@mixin link-styles-alt {
  color: $blue;
  text-decoration: none;

  &:visited {
    color: $blue;
  }

  &:hover,
  &:focus {
    background-image: linear-gradient(to top, transparent 0%, transparent 0%, $primary 0%, $primary 100%, transparent 100%, transparent 100%);
  }
}

/**
 * Colored Background
 */
@mixin link-styles-background {
  background-image: linear-gradient(to top, transparent 0%, transparent 2%, $blue 2%, $blue 6%, transparent 6%, transparent 100%);
  color: $blue;
  text-decoration: none;
  text-shadow: 1px 0 $secondary, -1px 0 $secondary, -2px 0 $secondary, 2px 0 $secondary;

  &:visited {
    color: $blue;
  }

  &:hover,
  &:focus {
    background-image: none;
    text-decoration: underline;
  }
}

/**
 * Menu Link styles
 */
@mixin link-styles-menu {
  color: $black;

  &:visited {
    color: $black;
  }

  &:hover,
  &:focus {
    @include gradient;
    color: $black;
    text-decoration: none;
  }
}

