/**
 * Link styles on light background.
 */
@mixin link-styles {
  color: $primary;
  text-decoration: none;

  &:visited {
    color: $primary;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

/**
 * Menu Link styles
 */
@mixin link-styles-menu {
  color: $black;

  &:visited {
    color: $black;
  }

  &:hover,
  &:focus {
    @include gradient;
    color: $black;
    text-decoration: none;
  }
}
