<!-- visual nunjucks -->

{% extends "layout.html" %}

{% block title %}Selling Accessibility – {% endblock %}

{% block content %}
{% set route = selling %}

{% include "partials/shared/_global_skiplinks.html" %}

{% import "partials/shared/_nav.html" as nav %}
{{ nav.nav(shared, route) }}

<main class="site__content site__content--open" id="main" aria-label="Content">

  {% import "partials/shared/_section.html" as section %}    
  {{ section.section(route, shared) }}

</main>

<button type="button" class="site__toggler button" aria-hidden="true" role="presentation">
  <div class="site__toggler-bar"></div>
</button>

{% endblock %}
