<!-- section element table nunjuck -->

<table class="element-table">
  <caption class="element-table__caption copy">{{ paragraph.table.caption }}</caption>

  <tr class="element-table__tr">
    {% for head in paragraph.table.heads %}
    <th class="element-table__th copy" scope="col">{{ head }}</th>
    {% endfor %}
  </tr>

  {% for row in paragraph.table.rows %}
  <tr class="element-table__tr">
    {% for cell in row %}
    <td class="element-table__td copy" scope="{{ 'row' if loop.index == 1 }}">{{ cell }}</td>
    {% endfor %}
  </tr>
  {% endfor %}

</table>
