<!-- section element example nunjuck -->

{% if section.paragraphs[loop.index].li %}
<a class="visuallyhidden anchor--skiplink" data-skiplink="{{ section.paragraphs[loop.index].li }}">{{ shared.sections.skip }}</a>
{% elif section.subs %}
<a class="visuallyhidden anchor--skiplink" data-skiplink="{{ section.subs[0].title }}">{{ shared.sections.skip }}</a>
{% elif key.sections[temp].title %}
<a class="visuallyhidden anchor--skiplink" data-skiplink="{{ key.sections[temp].title }}">{{ shared.sections.skip }}</a>
{% endif %}
<div role="group" aria-label="{{ shared.sections.example }}">
  <pre class="section__pre"><code class="language-{{ paragraph.example.preLang }}">{{ paragraph.example.pre }}</code></pre>
  <div class="section__example">
    <button type="button" class="button section__play" data-audio="{{ paragraph.example.audio }}" aria-hidden="true">
      {{ paragraph.example.play }}
    </button>
    <div class="section__example-code">
      <span class="section__output">{{ shared.sections.output }}:</span>
      {{ paragraph.example.pre | replace(r/\[...\]/g, '&lsqb;...&rsqb;') | safe }}
    </div> 
    <span class="section__transcript" aria-hidden="true">
      <span class="section__output">{{ shared.sections.audio }}:</span>
      {{ paragraph.example.audio | replace(r/\|/g, '<br>') | safe }}
      <span class="section__warning">{{ shared.sections.warning | safe }}</span>
    </span>
  </div>
</div>
