<!-- element example nunjuck -->

{% macro example(section, page, sectionIndex, shared, paragraph, paragraphIndex, example) %}
<!-- Skiplinks:
if the next paragraph has a li element, hence if the next element is a li -->
{% if section.paragraphs[paragraphIndex].li %}
<a class="visuallyhidden anchor--skiplink" data-skiplink-title="{{ section.title }}" data-skiplink-index="{{ paragraphIndex + 1 }}">{{ shared.sections.skip }}</a>
<!-- if the next element is a subtitle -->
{% elif section.subs %}
<a class="visuallyhidden anchor--skiplink" data-skiplink-title="{{ section.subs[0].title }}">{{ shared.sections.skip }}</a>
<!-- if the next element is a title -->
{% elif page.sections[sectionIndex].title %}
<a class="visuallyhidden anchor--skiplink" data-skiplink-title="{{ page.sections[sectionIndex].title }}">{{ shared.sections.skip }}</a>
{% endif %}
<div role="group" aria-label="{{ shared.sections.example }}">
  {% if example == true %}
  <pre class="element-example__pre"><code class="language-{{ paragraph.example.preLang }}">{{ paragraph.example.pre }}</code></pre>
  <div class="element-example">
    <button type="button" class="button element-example__play play" data-audio="{{ paragraph.example.audio }}" aria-hidden="true">
      {{ paragraph.example.play }}
    </button>
    <div class="element-example__code">
      <span class="element-example__output">{{ shared.sections.output }}:</span>
      {{ paragraph.example.pre | replace(r/\[...\]/g, '&lsqb;...&rsqb;') | replace(r/h1|h2|h3|h4|h5|h6/g, 'strong') | safe }}
    </div> 
    <span class="element-example__transcript" aria-hidden="true">
      <span class="element-example__output">{{ shared.sections.audio }}:</span>
      {{ paragraph.example.audio | replace(r/\|/g, '<br>') | replace(r/--/g, '⇥') | safe }}
      <span class="element-example__warning">{{ shared.sections.warning | safe }}</span>
    </span>
  </div>
  {% else %}
  <pre class="element-example__pre"><code class="language-{{ paragraph.preLang }}">{{ paragraph.pre }}</code></pre>
  {% endif %}
</div>
{% endmacro %}
