<!-- section element table nunjuck -->

<table class="element-table">
  <caption class="element-table__caption copy">{{ paragraph.table.caption }}</caption>

  <tr class="element-table__tr">
    {% for head in paragraph.table.heads %}
    <th class="element-table__th copy" scope="col">{{ head }}</th>
    {% endfor %}
  </tr>

  {% for row in paragraph.table.rows %}
  <tr class="element-table__tr">
    {% for cell in row %}
    {% if cell.manyMore %}
      <td class="element-table__td copy" scope="{{ 'row' if loop.index == 1 }}" colspan="{{ cell.manyMoreSpan }}">
        {{ cell.manyMoreTitle }}:
      {% for more in cell.manyMore %}
        {% if cell.manyMoreUrl %}
        <a href="{{ cell.manyMoreUrl }}">{{ more }}</a>
        {% else %}
        <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/{{ more }}">{{ more }}</a>
        {% endif %}
      {% endfor %}
      </td>
    {% else %}
    <td class="element-table__td copy" scope="{{ 'row' if loop.index == 1 }}">{{ cell | safe }}</td>
    {% endif %}
    {% endfor %}
  </tr>
  {% endfor %}

</table>
