<!-- makro table nunjuck -->

{% macro table(key) %}
<table class="element-table">
  <caption class="element-table__caption copy">{{ key.caption }}</caption>

  {% if key.heads %}
  <tr class="element-table__tr">
    {% for head in key.heads %}
    <th class="element-table__th copy" scope="col">{{ head }}</th>
    {% endfor %}
  </tr>
  {% endif %}

  {% if key.rows %}
  {% for row in key.rows %}
  <tr class="element-table__tr">
    {% for cell in row %}
    {% if cell.manyMore %}
      <td class="element-table__td copy" scope="{{ 'row' if loop.index == 1 }}" colspan="{{ cell.manyMoreSpan }}">
        {{ cell.manyMoreTitle }}:
      {% for more in cell.manyMore %}
        {% if cell.manyMoreUrlHash == 'NO' %}
        <a href="{{ cell.manyMoreUrl }}{{ cell.manyMoreUrlHash }}{{ more }}">{{ more }}</a>
        {% elif cell.manyMoreUrlHash %}
        <a href="{{ cell.manyMoreUrl }}">{{ more }}</a>
        {% else %}
        <a href="{{ cell.manyMoreUrl }}{{ more }}">{{ more }}</a>
        {% endif %}
      {% endfor %}
      </td>
    {% else %}
    <td class="element-table__td copy" scope="{{ 'row' if loop.index == 1 }}">{{ cell | safe }}</td>
    {% endif %}
    {% endfor %}
  </tr>
  {% endfor %}
  {% endif %}
</table>
{% endmacro %}
