<!-- welcome nunjuck -->

<section id="welcome" class="section welcome">
  <h1 class="welcome__title">
    {{ welcome.title }}
  </h1>
  <p class="sr-only">
    {{ welcome.screenReader }}
  </p>
  <button role="button" class="button metalink metalink--alt welcome__button welcome__button--skip">
    {{ welcome.skip }}
  </button>

  {% for writing in welcome.writings %}
  {% set index = loop.index %}
  <div class="center-align welcome__text">
    <p class="sr-only">
      {{ writing.screenReader }}
    </p>
    <p class="copy writer__text-container" aria-hidden="true" role="presentation">
    {% for text in writing.texts %}
      {% if loop.index % 2 != 0 %}
      <span class="writer__text--{{ index }} welcome__text--normal">{{ text | safe }}</span><br>
      {% else %}
      <span class="writer__text--{{ index }} welcome__text--special">{{ text | safe }}</span><br>
      {% endif %}
    {% endfor %}
    </p>
    <div class="welcome__img-container">
      {% if writing.img %}
      <span class="fly__container">
        <img src="{{ writing.img }}" aria-hidden="true" role="presentation" class="fly--out welcome__img">
        {% if writing.last %}
          <div class="welcome__target"></div>
          <div class="lock--locker"></div>
        {% endif %}
      </span>
      {% endif %}
      {% if writing.button %}
      <span class="fly__container">
        <button aria-hidden="true" role="presentation"  class="button button--next metalink metalink--alt welcome__button fly--out">
          {{ writing.button }}
        </button>
      </span>
      {% endif %}
    </div>
  </div>
  {% endfor %}

</section>
