<!-- welcome nunjuck -->

<section id="welcome" class="section welcome">
  <h1 class="welcome__title copy">{{ welcome.title }}</h1>

  <div class="welcome__container center-align">
    <div class="welcome__cards center-align">

      <a href="#" class="welcome__card welcome__card--visual center-align">
        <div>
          <svg class="welcome__svg" aria-labelledby="title desc" role="img">
            <title id="title">{{ welcome.visual.title }}</title>
            <desc id="desc">{{ welcome.visual.description }}</desc>
            <use role="presentation" xlink:href="assets/svg/sprite.svg#visual-small"></use>
          </svg>
          <h2 class="welcome__cathegory copy">{{ welcome.subtitle.visual }}</h2>
        </div>
      </a>

      <a href="#" class="welcome__card welcome__card--audio center-align">
        <div>
          <svg class="welcome__svg" aria-labelledby="title desc" role="img">
            <title id="title">{{ welcome.audio.title }}</title>
            <desc id="desc">{{ welcome.audio.description }}</desc>
            <use role="presentation" xlink:href="assets/svg/sprite.svg#audio-small"></use>
          </svg>
          <h2 class="welcome__cathegory copy">{{ welcome.subtitle.audio }}</h2>
        </div>
      </a>

      <a href="#" class="welcome__card welcome__card--cognitive center-align">
        <div>
          <svg class="welcome__svg" aria-labelledby="title desc" role="img">
            <title id="title">{{ welcome.cognitive.title }}</title>
            <desc id="desc">{{ welcome.cognitive.description }}</desc>
            <use role="presentation" xlink:href="assets/svg/sprite.svg#cognitive-small"></use>
          </svg>
          <h2 class="welcome__cathegory copy">{{ welcome.subtitle.cognitive }}</h2>
        </div>
      </a>

    </div>
  </div>

</section>
