/*
 * Standard
 */
$black: #190000;
$white: #F6F6F6;
$grey: #ABABAB;

$black01: rgba($black, 0.1);
$black03: rgba($black, 0.3);

/*
 * Blue
 */
$blue: #177CCE;
$light-blue: #6DA0D7;

/*
 * main
 */
$lime: #00FFBA;
$aqua: #00FFDE;

/*
 * Themes
 */
$primary: $lime;
$secondary: $aqua;

$primary70: rgba($primary, 0.7);
$secondary70: rgba($secondary, 0.7);
