/*
 * Standard
 */
$black: #190000;
$white: #F6F6F6;

$black01: rgba(0, 0, 0, 0.1);
$black03: rgba(0, 0, 0, 0.3);

/*
 * Blue
 */
$blue: #177CCE;

/*
 * main
 */
$lime: #00FFBA;
$aqua: #00FFDE;

/*
 * Themes
 */
$primary: $lime;
$secondary: $aqua;
