// Gutters
$gutter--small: 5px;
$gutter: 15px;
$gutter--medium: 30px;
$gutter--large: 40px;
$gutter--xlarge: 60px;

// Max widths
$content-max-width: 1400px;
$content-max-width--narrow: 800px;

// Outbreaks
$outbreaks: 50px;
