$mega: (60, 110);
$alpha: (35, 50);
$beta: (25, 40);
$gamma: (18, 25); // Base
$delta: (12, 14);

$line-height: 1.4;
$line-height--small: 1.1;

$primary-family: 'Fira Sans', sans-serif;
$primary-weight: 400;
$secondary-family: 'Libre Baskerville', serif;
$secondary-weight: 700;
$cursive-family: 'Satisfy', cursive;
$cursive-weight: 400;

//$intro-family: 'Libre Baskerville', serif;
//$intro-weight: 700;
$intro-family: 'Abegnale', serif;
$intro-weight: normal;

