$mega: (40, 110);
$alpha: (35, 50);
$beta: (30, 40);
$gamma: (18, 25); // Base
$delta: (13, 15);

$line-height: 1.4;
$line-height--small: 1.1;

$main-family: 'Fira Sans', sans-serif;
$main-weight: 400;
$secondary-family: 'Cassannet', 'Fira Sans', sans-serif;
$secondary-weight: normal;
