/*
 * Body
 */
html,
body,
.main {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/*
 * Kerning
 */
.copy {
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga' 1, 'kern' 1, 'dlig' 1;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures;
  text-rendering: optimizeLegibility;
}

/*
 * screen readers only (accessibility)
 */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Misc
 */
.center-align {
  align-items: center;
  display: flex;
  justify-content: center;
}
